body {
  background-image:url(bg.png);
  background-position: 50% 10%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  body {
    background-image:url(bg_cel.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 450px 900px;
  }
}
